<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div layout:fragment="content">

		<!-- MAIN CONTENT -->
		<div class="main-content">
		
	        <div class="content-heading">
	          <div class="heading-left">
	            <h1 class="page-title">マイページ</h1>
	          </div>
	        </div>

		</div>	
		<!-- END MAIN CONTENT -->

	</div>
</body>
</html>